<div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <h4 class="page-title">
          Add Record
        </h4>
      </div>
    </div>
  </div>
  
  <section class="pageContent">
  
    <div class="register-content">
      <form novalidate [formGroup]="addRecordForm">
        <div class="form">
          <div class="row">
            <div class="col-xl-6 col-lg-3 col-md-6 col-sm-12">
              <label class="form-label">Patient Name </label>
              <input type="text" class="form-control" formControlName="patientName" maxlength="150">
            </div>
            <div class="col-xl-6 col-lg-3 col-md-6 col-sm-12">
                <label class="form-label">Treatment Plan </label>
                <input type="text" class="form-control" formControlName="treatmentPlan" maxlength="150">
              </div>
              <div class="col-xl-6 col-lg-3 col-md-6 col-sm-12">
                <label class="form-label">Symptoms </label>
                <input type="text" class="form-control" formControlName="symptoms" maxlength="150">
              </div>
              <div class="col-xl-6 col-lg-3 col-md-6 col-sm-12">
                <label class="form-label">Diagnosis </label>
                <input type="text" class="form-control" formControlName="diagnosis" maxlength="150">
              </div>
              <div class="col-xl-6 col-lg-3 col-md-6 col-sm-12">
                <label class="form-label"> Date<span class="text-danger">*</span></label>
                <div class="input-group datePickerInput">
                  <input class="form-control" ngbDatepicker #dDec="ngbDatepicker" placeholder="yyyy-mm-dd"
                  [minDate]="minDate" [startDate]="startDate" [maxDate]="maxDate" formControlName="date"
                 
                    readonly />
                  <button class="btn btn-outline-secondary" (click)="dDec.toggle()" type="button" >
                    <i class="mdi mdi-calendar"></i>
                  </button>
                </div>
               
              </div>
         
  
          </div>
  

  
          <div class="buttonBlock">
            <button class="acceptBtn" (click)="save()">Save</button>
          </div>
        </div>
      </form>
    </div>
  </section>
